---
import { getProducts } from '../../firebase/server';

const products = await getProducts();
---

<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <div class="sm:flex sm:justify-center">
          <div class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            <a href="/allproducts" class="font-semibold text-accent-600">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <span class="block lg:inline">Lo más buscado <span aria-hidden="true">→</span></span>
            </a>
          </div>
        </div>
        <p class="text-4xl tracking-tight font-semibold text-black md:text-5xl font-display mt-8">Mundo Vinilos</p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">Vinilo que buscas, vinilo que encuentras.</p>
      </div>
      <dl class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-gray-500">
          <strong class="text-gray-700">Tus vinilos favoritos al mejor precio</strong> ━ Encontrarás una lista de precios ordenados del más bajo al más alto.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Álbumes en tendencia</strong> ━ Todos los artistas y álbumes del momento en nuestra página principal.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Tus vendedores de confianza</strong> ━ Encuentra a tu vendedor favorito o explora otros vendedores cercanos a tu zona.
        </div>
      </dl>
    </div>
    <div class="mt-12">
      <h2 class="text-2xl font-semibold text-center">Productos en tendencia</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
        {products.map(product => (
          <a href={`/product/${product.id}`} class="bg-white p-6 rounded-lg shadow-lg">
            <img
              src={product.imageUrl}
              alt={`${product.name} by ${product.artistName}`}
              class="w-full h-48 object-cover rounded-md"
            />
            <h3 class="mt-4 text-lg font-semibold">{product.name}</h3>
            <p class="mt-2 text-gray-600">Artista: {product.artistName}</p>
            <p class="mt-2 text-gray-800 font-bold">
  Precio más bajo: ${typeof product.price === 'number' ? Number(product.price).toLocaleString('es-ES') : 'N/A'}
</p>
          </a>
        ))}
      </div>
    </div>
  </div>
</section>
